body {
    background-color: rgb(104, 0, 0);
    }

header {
    background-color: rgb(104, 0, 0);
}
  

 main {
    background-color: rgb(158, 0, 53); /* Fundo principal azul claro */
    padding: 20px; /* Espaçamento interno */

  }

footer {
  background-color: rgb(158, 0, 53); /* Preto para o rodapé */
  color: #ff93aa; /* Cinza claro para o texto (menos agressivo que o roxo neon) */
  text-align: center;
  padding: 15px 0; /* Mais espaçamento para o rodapé */
}

