body {
    background-color: rgb(255, 255, 255);
    }

header {
    background-color: rgba(255, 238, 0, 0.384);
}

main {
    background-color: #ffc400ad; /* Fundo principal azul claro */
    padding: 20px; /* Espaçamento interno */
  }

footer {
  background-color: #000000; /* Preto para o rodapé */
  color: #ff5100; /* Cinza claro para o texto (menos agressivo que o roxo neon) */
  text-align: center;
  padding: 15px 0; /* Mais espaçamento para o rodapé */
}
